html, body, ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

body {
    background-color: #FAFAFA;
}

.main {
    font-family: 'Roboto', sans-serif;
}

.main--header {
    border: 0px solid #DDD;
    border-bottom-width: 1px;
    padding: 1em 20% 1em 20%;
}

@media (max-width: 900px) {
.main--header {
    padding: 1em;
  }
}

.main--header a {
    color: black;
    text-decoration: none;
}

.main--header a:visited {
    color: black;
}

.main--content {
    padding: 1em 20% 1em 20%;
    border: 0px solid #DDD;
    border-bottom-width: 1px;
    background-color: white
}

@media (max-width: 900px) {
.main--content {
    padding: 1em;
  }
}

.main--listing {
    padding: 1em 20% 1em 20%;
    border: 0px solid #DDD;
    border-bottom-width: 1px;
    background-color: white
}

.main--footer {
    padding: 1em 20% 1em 20%;
}

@media (max-width: 900px) {
.main--footer {
    padding: 1em;
  }
}

.main--footer--brand-label {
    float: left;
}

.main--footer--page-details {
    float: right;
}

@media (max-width: 900px) {
.main--footer--brand-label {
    float: none;
}
.main--footer--page-details {
    float: none;
  }
}

ul {
    padding-left: 1em;
}

td, th, tf {
    border: 1px solid #DDD;
    padding: 6px 13px;
}

table {
    border-collapse: collapse;
}

h2 {
    border: 0px solid #DDD;
    border-bottom-width: 1px;
}

tr:nth-child(2n) {
    background-color: #f8f8f8;
}
tr {
    background-color: white;
}
th {
    font-weight: bolder;
}

code {
    border: 1px solid #EAEAEA;
    background-color: #F8F8F8;
    padding: 0.25em;
    border-radius: 0.5em;
}

pre code {
    border: 1px solid #EAEAEA;
    background-color: #F8F8F8;
    padding: 1em;
    border-radius: 0.5em;
    display: block;
}