html, body, ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

body {
    background-color: #FAFAFA;
}

.main {
    font-family: 'Roboto', sans-serif;
}

.main--header {
    border: 0px solid #DDD;
    border-bottom-width: 1px;
    padding: 1em 20% 1em 20%;
}

.main--content {
    padding: 1em 20% 1em 20%;
    border: 0px solid #DDD;
    border-bottom-width: 1px;
    background-color: white
}

.main--listing {
    padding: 1em 20% 1em 20%;
    border: 0px solid #DDD;
    border-bottom-width: 1px;
    background-color: white
}

.main--footer {
    padding: 1em 20% 1em 20%;
}

.main--footer--brand-label {
    float: left;
}

.main--footer--page-details {
    float: right;
}

ul {
    padding-left: 1em;
}